/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}
:root {
  --orange: #f78b00;
  --blue: #0e61d4;
  --gray: #ededed;
  --white: #FFF;
  --black: #000000;
}
html,
body {
  width: 100%;
  background-image: url(../images/car_BMW-i.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  width: 100%;
  display: flex;
  height: 120px;
  background: var(--black);
  position: fixed;
}
.logo {
  display: flex;
  width: 150px;
  margin: 0 0 0 20px;
  color: #FFF;
}
.brand {
  display: flex;
  width: 150px;
  margin: 20px 0px 0px 20px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.text-title {
  color: white;
  font-size: larger;
  padding: 650px 0 10px 23%;
}
.catalog {
  margin: 0 auto 0 auto;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul {
  display: flex;
  padding-left: 25%;
  padding-right: 10%;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
}
nav ul li a:hover {
  color: #fdd835;
}
nav ul button {
  width: 150px;
  height: 35px;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 3px 5px 3px;
  margin: 5px 0px 0px 100px;
  border: none;
  background: var(--orange);
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
}
nav ul button:hover {
  transition: background, color 0.6s;
  background: var(--blue);
  color: white;
}
.home {
  margin: 0 auto 0 auto;
}
.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 20px auto 200px auto;
  padding: 100px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}
.header-block img {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
.header-block .text {
  position: absolute;
  top: 30%;
  left: 5%;
}
.header-block .text h2 {
  color: white;
  margin-bottom: 20px;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.5s;
}
.header-block .text p {
  max-width: 280px;
  color: white;
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

/* Product model */
section .model {
  width: 100vw;
  height: 100px;
  padding: 0px 20px 0 20px;
}
section .filter-card {
  width: 100%;
  height: 90px;
  padding: 0px 20px 0 20px;
  background: var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  min-width: 300px;
  margin: 20px auto 20px auto;
  display: flex;
}
.search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}
.search-button {
  width: 150px;
  height: 35px;
  margin: 0 0 0 20px;
  border-radius: 4px 4px 4px 4px;
  border: none;
  background: var(--orange);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}
.search-button:hover {
  background: var(--blue);
  color: var(--white);
}
.title-wrapper-model {
  margin-top: 200px;
}
section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}
section .card-item {
  height: 400px;
  background: var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card-item img {
  width: 85%;
}
.card-item h4 {
  width: 90%;
}
.card-item p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}
.card-item button {
  margin: 5px 5px 5px 5px;
  width: 90%;
  padding: 15px 0px;
  border: none;
  background: var(--blue);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s ease;
}
.card-item button:hover {
  background: #dedede;
  color: var(--blue);
}

/* About */
.about {
  max-width: 1000px;
  min-width: 300px;
  margin: 0% auto 0% auto;
  padding: 10% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.about-content {
  background: #000000a1;
  color: #FFF;
  border-radius: 8px;
  padding: 20px 20px 15px 20px;
}
.about-content-title {
  padding: 25px 30px 50px 50px;
}
.about-content-text {
  background: #000000a1;
  padding: 30px 50px 20px 50px;
  color: var(--orange);
  border-radius: 8px;
}
.right {
  width: 65%;
  height: 100%;
  color: white;
  display: flex;
  padding: 20px 50px 50px 50px;
}
.left {
  width: 25%;
  min-width: 300px;
  height: 100%;
  background: #000000a1;
  border-radius: 8px;
}
.right h3 {
  text-align: right;
  width: 90%;
  margin-bottom: 20px;
}
.right p {
  max-width: 90%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  padding: 5% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray);
}
.title-wrapper-features {
  /* padding: 50px 0px; */
}
.feature-card-block {
  max-width: 1000px;
  min-width: 300px;
  height: 100%;
  justify-content: center;
  background: white;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}
.feature-card-item {
  max-width: 420px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #dedede3b;
  border-radius: 4px;
}
.feature-text-content {
  max-width: 60%;
}
.feature-card-item img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}


/* Contact Form */
.contact-form{
  width: 380px;
  margin: 0 auto 55px auto;
  padding: 20px 20px 20px 20px;
  border:1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  color: white;
  background: #000000a1;
}
.contact-form p{
  width: 100%;
  font-size: 1.5em;
}
.contact-form-div {
  margin-top: 50px 0px 0px 0px;
  padding-top: 200px;
}
.field{
  width: 100%;
  margin: 15px 0;
}
.field label,
.field span{
  padding: var(--padding50);
  font-size: 1.1em;
  display: block;
  width: 100%;
}
.radiobox label{
  width: auto;
  display: inline-block;
}
.span-radiobox {
  margin-left: 50px;
}
.field-radiobox{
  margin: 0 auto 0 120px;
}
input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}
input#nao{
  margin-left: 30px;
}
textarea{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}
input[type=submit]{
  display: block;
  background-color: #ccc;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

/* Footer */
footer {
  width: 100%;
  height: 250px;
}
footer .main {
  width: 100%;
  height: 200px;
  background: var(--black);
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}
.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
  color: white;
  height: 100%;
  min-height: 100px;
}
.footer-links h4 {
  margin-bottom: 10px;
}
.footer-links {
  margin-bottom: 8px;
}
.main .footer-social img {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
footer .last {
  width: 100%;
  height: 50px;
  background: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  nav ul li {
    display: none;
  }
  .header-block img {
    width: 70%;
    position: absolute;
    right: 16%;
    top: 30%;
  }
  .header-block .text {
    position: absolute;
    bottom: 10%;
    left: 15;
  }
  .title-wrapper-about {
    margin-bottom: 0px;
  }
  .left {
    display: none;
  }
  .right {
    width: 90%;
  }
  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }
  .features {
    height: 100%;
  }
  .feature-card-block {
    display: flex;
    flex-direction: column;
  }
}
